.letter{
  float: left;
  width: 64px;
  height: 64px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.answer{
  float: left;
  width: 64px;
  height: 64px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

button {
	font-size: 18px;
	color: LavenderBlush ;
	cursor: pointer;
	background-color:darkviolet;
	border-width: thick;
	border-color: DarkOrchid ;
	border-radius: 4px;
}

body {
    background-color: #18BC9C;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}