.letter{
  float: left;
  width: 64px;
  height: 64px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.answer{
  float: left;
  width: 64px;
  height: 64px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}