extends layout

block content

//   head

//     // Sidebar CSS
    
//     link(href='css/simple-sidebar.css', rel='stylesheet')

    
//     title Block games, YAY!

//   body
//     #wrapper
//       // Sidebar
//       #sidebar-wrapper
//         ul.sidebar-nav
//           li.sidebar-brand
//             a(href='/')
//               | OVERBOOKED
//           li
//             a(href='/easy')
//               img.img-responsive(src='/images/monsters/red_monster.png', alt='')
//           li
//             a(href='/medium')
//               img.img-responsive(src='/images/monsters/lavender_monster.png', alt='')
//           li
//             a(href='/hard')
//               img.img-responsive(src='/images/monsters/teal_monster.png', alt='')
//       //end sidebar
      
//       // Page Content
//       #page-content-wrapper
//         .container-fluid
//           .row
//             .col-lg-12
//               h1 Try spelling the word
//               p
//                 | Look an animal, trying spelling what it is, put the block letters in the proper order. // I changed a little try adding pics 
//               p
              
//               a#menu-toggle.btn.btn-default(href='#menu-toggle') CHOOSE LEVEL

//     // Scripts
   
//     script(src='/jquery/jquery.min.js')
//     //script(src='/javascripts/blockgame.js') not ready yet, for this one possibly

//           // Menu Toggle
   
//     script.
//       $("#menu-toggle").click(function(e) {
//       e.preventDefault();
//       $("#wrapper").toggleClass("toggled");
//       });


//     // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
//     // WARNING: Respond.js doesn't work if you view the page via file://
//     //if lt IE 9
//     // script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
//     //  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    
    
    
    
// <!DOCTYPE HTML> 
// <html>
// <head>
// <style>
// #ans1, #ans2, #ans3, #letter1, #letter2, #letter3 {
//     float: left;
//     width: 64px;
//     height: 64px;
//     padding: 10px;
//     border: 1px solid #aaaaaa;
// }



// </style>
// <script>

// function allowDrop(ev) {
//     ev.preventDefault();
// }


// function drag(ev) {
//     ev.dataTransfer.setData("text", ev.target.id);
// }


// function drop(ev) {
//     ev.preventDefault();
//     var data = ev.dataTransfer.getData("text");
//     ev.target.appendChild(document.getElementById(data));
// }
// </script>
// </head>
// <body>

// <p>Letters:</p>

// <div id="letter1" ondrop="drop(event)" ondragover="allowDrop(event)">
// <img src="/images/letters/letter-a-64.ico" draggable="true"
// ondragstart="drag(event)" id="drag1" width="64" height="64">
// </div>



// <div id="letter2" ondrop="drop(event)" ondragover="allowDrop(event)">
// <img src="/images/letters/letter-c-64.ico" draggable="true"
// ondragstart="drag(event)" id="drag2" width="64" height="64">
// </div>



// <div id="letter3" ondrop="drop(event)" ondragover="allowDrop(event)">
// <img src="/images/letters/letter-t-64.ico" draggable="true"
// ondragstart="drag(event)" id="drag3" width="64" height="64">
// </div>

// <br>

// <p>Answer:</p>

// <div id="ans1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
// <div id="ans2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
// <div id="ans3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>


// <br>

// <div id="cat">
// <img src="/images/animals/cat"><>
// </div>

// </body>
// </html>


doctype html
html
  head
    style.
      #ans1, #ans2, #ans3, #letter1, #letter2, #letter3 {
      float: left;
      width: 64px;
      height: 64px;
      padding: 10px;
      border: 1px solid #aaaaaa;
      }
    script.
      function allowDrop(ev) {
      ev.preventDefault();
      }
      function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
      }
      function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
      }
  body
    p Letters:
    #letter1(ondrop='drop(event)', ondragover='allowDrop(event)')
      img#drag1(src='/images/letters/letter-a-64.ico', draggable='true', ondragstart='drag(event)', width='64', height='64')
    
    #letter2(ondrop='drop(event)', ondragover='allowDrop(event)')
      img#drag2(src='/images/letters/letter-c-64.ico', draggable='true', ondragstart='drag(event)', width='64', height='64')
    
    #letter3(ondrop='drop(event)', ondragover='allowDrop(event)')
      img#drag3(src='/images/letters/letter-t-64.ico', draggable='true', ondragstart='drag(event)', width='64', height='64')
    br
    p Answer:
    #ans1(ondrop='drop(event)', ondragover='allowDrop(event)')
    #ans2(ondrop='drop(event)', ondragover='allowDrop(event)')
    #ans3(ondrop='drop(event)', ondragover='allowDrop(event)')