doctype html
html
  head
  // Sidebar CSS
  link(href='css/simple-sidebar.css', rel='stylesheet')
  link(href='/css/blockgame.css', type='text/css', rel='stylesheet')
  script(type='text/javascript', src='/javascripts/blockgame.js')
  title BlockGame Cat
  body
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='/') OVERBOOKED
          li
            a(href='/blockgameCat')
              img.img-responsive(src='/images/animals/cat.png', alt='')
          li
            a(href='/blockgame')
              img.img-responsive(src='/images/animals/horse.png', alt='')
          li
            a(href='#')
              img.img-responsive(src='/images/animals/raccoon.png', alt='')
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              a#menu-toggle.btn.btn-default(href='#menu-toggle') 
                button Toggle Menu
              p Letters:
              #letter1.letter(ondrop='drop(event)', ondragover='allowDrop(event)')
                img#drag1(src='/images/letters/letter-a-64.ico', draggable='true', ondragstart='drag(event)', width='64', height='64')
              #letter2.letter(ondrop='drop(event)', ondragover='allowDrop(event)')
                img#drag2(src='/images/letters/letter-c-64.ico', draggable='true', ondragstart='drag(event)', width='64', height='64')
              #letter3.letter(ondrop='drop(event)', ondragover='allowDrop(event)')
                img#drag3(src='/images/letters/letter-t-64.ico', draggable='true', ondragstart='drag(event)', width='64', height='64')
              #letter4.letter(ondrop='drop(event)', ondragover='allowDrop(event)')
                img#drag4(src='/images/letters/letter-t-64.ico', draggable='true', ondragstart='drag(event)', width='64', height='64')
              br
              br
              br
              br
              br
              p Answer:
              #ans1.answer(ondrop='drop(event)', ondragover='allowDrop(event)')
              #ans2.answer(ondrop='drop(event)', ondragover='allowDrop(event)')
              #ans3.answer(ondrop='drop(event)', ondragover='allowDrop(event)')
              #ans4.answer(ondrop='drop(event)', ondragover='allowDrop(event)')
              br
              br
              button(onclick='correctAnswer()') Check
              br
              br
              br
              br
              #cat
                img(src='/images/animals/bear.png')
              #dancing-cat(style='display: none')
                p Answer: BEAR
                img.img-responsive(src='images/dancing/hopping_bear.gif', alt='')
                button(onclick='correctAnswer()') Next Game 
    // Scripts
    script(src='/jquery/jquery.min.js')
      <!-- Menu Toggle-->
    script.
      $(document).ready(function() {
      $("#wrapper").toggleClass("toggled");
      });
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
