doctype html
html(ng-app='quizApp')

  doctype html
html(ng-app='quizApp')
  head
  
    // Sidebar CSS
    
    link(href='css/simple-sidebar.css', rel='stylesheet')
    meta(charset='utf-8')
    title QuizApp
    link(rel='stylesheet', href='/css/styleQuiz.css')
    // script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    
    script(src='/jquery/jquery.min.js')
    // script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    
    script(src='/angular/angular.min.js')
    script(src='/javascripts/easyAnimalQuiz.js')
    
    title Game1 -- Hard
    meta(charset='utf-8')
    title QuizApp
    link(rel='stylesheet', href='/css/styleQuiz.css')
    // script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    
    script(src='/jquery/jquery.min.js')
    // script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    
    script(src='/angular/angular.min.js')
    script(src='/javascripts/easyKitchenQuiz.js')
  
  body
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='/')
              | OVERBOOKED
         

      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              .container
                h1.title QuizApp
                quiz

              a#menu-toggle.btn.btn-default(href='#menu-toggle') Toggle Menu

    // Scripts
   
    script(src='/jquery/jquery.min.js')
    
      // Menu Toggle
    
    script.
      $(document).ready(function() {
      $("#wrapper").toggleClass("toggled");
      });
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
