doctype html
html(ng-app='quizApp')
  head
    meta(charset='utf-8')
    title QuizApp
    link(rel='stylesheet', href='/css/styleQuiz.css')
    // script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    
    script(src='/jquery/jquery.min.js')
    // script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    
    script(src='/angular/angular.min.js')
    script(src='/javascripts/easyAnimalQuiz.js')
  body
    .container
      // h1.title QuizApp
      quiz
