doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=yes, initial-scale=1')


    //Favicon
    
    link(rel='shortcut icon', type='image/png', href='images/yellow_puzzle_piece.png')
    
    title Read Along with Emma!
    
    // Bootstrap Core CSS
    
    link(href='css/bootstrap.min.css', rel='stylesheet')
    
    // Custom CSS
    
    link(href='css/simple-sidebar.css', rel='stylesheet')
  
  body
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='/')
              | CHOOSE YOUR LEVEL
          li
            a(href='/easy')
              img.img-responsive(src='/images/monsters/red_monster.png', alt='')
          li
            a(href='/medium')
              img.img-responsive(src='/images/monsters/lavender_monster.png', alt='')
          li
            a(href='/hard')
              img.img-responsive(src='/images/monsters/teal_monster.png', alt='')
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              h1 Read Along with Emma!
              p
                | Sounding out words is fun. Let Emma help when you get stuck ...

                | .
              a#menu-toggle.btn.btn-default(href='#menu-toggle') Pick a level to start ...
      // /#page-content-wrapper
    // /#wrapper
    // jQuery
   
    script(src='jquery/jquery.js')
    // Bootstrap Core JavaScript
  
    script(src='javascripts/bootstrap.min.js')
    // Menu Toggle Script
   
    script.
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });

    // EXTRA NON-VITAL HEADER
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
     // script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    //  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')