// extends sidebar

// block content

doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=yes, initial-scale=1')


    //Favicon
    
    link(rel='shortcut icon', type='image/png', href='images/yellow_puzzle_piece.png')
    
    title Simple Sidebar - Start Bootstrap Template
    
    // Bootstrap Core CSS
    
    link(href='css/bootstrap.min.css', rel='stylesheet')
    
    // Custom CSS
    
    link(href='css/simple-sidebar.css', rel='stylesheet')
  
  body
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='/')
              | CHOOSE YOUR LEVEL
          li
            a(href='/easy')
              img.img-responsive(src='/images/monsters/red_monster.png', alt='')
          li
            a(href='/medium')
              img.img-responsive(src='/images/monsters/lavender_monster.png', alt='')
          li
            a(href='#')
              img.img-responsive(src='/images/monsters/teal_monster.png', alt='')

      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              h1 HARD
              p
                | Visualize Robert at optimum velocity. Expedite, Robert, expeditiously!
              p
                | 
                | .
              a#menu-toggle.btn.btn-default(href='#menu-toggle') Toggle Menu

          // jQuery
   
    script(src='jquery/jquery.js')
    // Bootstrap Core JavaScript
  
    script(src='javascripts/bootstrap.min.js')
    
    script.
      $(document).ready(function() {
      $("#wrapper").toggleClass("toggled");
      });
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });