doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title MAKE studios
    link(rel='stylesheet', href='/freelancer/css/freelancer.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/jqBootstrapValidation.js')
    script(src='/freelancer/js/freelancer.min.js')
    script(src='/js/login.js')