doctype html
html

  head

    // link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    
    link(rel='stylesheet', href='css/login.css')
    
    title Sign-Up/Login Form
   
  body
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        // Brand and toggle get grouped for better mobile display
        
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu 
            i.fa.fa-bars
          a.navbar-brand(href='/') Overbooked
        .navbar-collapse
      .container-fluid
  
    .form
      ul.tab-group
        li.tab.active
          a(href='#signup') Sign Up
        li.tab
          a(href='#login') Log In
      .tab-content
        #signup
          h1 Sign Up!
          form(action='/', method='post')
            .top-row
              .field-wrap
                label
                  | First Name
                  span.req *
                input(type='text', required='', autocomplete='off')
              .field-wrap
                label
                  | Last Name
                  span.req *
                input(type='text', required='', autocomplete='off')
            .field-wrap
              label
                | Email Address
                span.req *
              input(type='email', required='', autocomplete='off')
            .field-wrap
              label
                | Password
                span.req *
              input(type='password', required='', autocomplete='off')
            button.button.button-block(type='submit') Get Started!
        #login
          h1 Welcome Back!
          form(action='/', method='post')
            .field-wrap
              label
                | Email Address
                span.req *
              input(type='email', required='', autocomplete='off')
            .field-wrap
              label
                | Password
                span.req *
              input(type='password', required='', autocomplete='off')
            p.forgot
              a(href='#') Forgot Password?
            button.button.button-block Log In
      // end tab-content
    // end form
    
    // JQuery & page-specific script
    
    script(src='/jquery/jquery.min.js')
    script(src='/javascripts/login.js')
