extends layout

block content

  head
    
    title Overbooked
      
  body
    // Navigation
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu 
            i.fa.fa-bars
          a.navbar-brand(href='/') Overbooked
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='/')
            li.page-scroll
              a(href='/#games') Games
            li.page-scroll
              a(href='/#about') About
            li.page-scroll
              a(href='/#contact') Contact
            li.resource
              a(href='/resources') Resources
            li.login
              a(href= "/signup") Sign Up
      
    header
      .container
        .row
          .col-lg-12
            .intro-text
              span.name Resources
              hr.star-light
              p
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://pbskids.org/games/reading/')
              // .caption
              //   .caption-content
              //     i.fa.fa-search-plus.fa-3x    ANNOYING SEARCH ICON
              
              img.img-responsive(src='images/otherSites/pbs-kids-logo.svg', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://www.abcya.com/')
              // .caption
              //   .caption-content
              //     i.fa.fa-search-plus.fa-3x    ANNOYING SEARCH ICON
              
              img.img-responsive(src='images/otherSites/ABCya.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://www.seussville.com/')
              // .caption
              //   .caption-content
              //     i.fa.fa-search-plus.fa-3x    ANNOYING SEARCH ICON
              
              img.img-responsive(src='/images/otherSites/Suess.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://www.wordcentral.com/games.html')
              // .caption
              //   .caption-content
              //     i.fa.fa-search-plus.fa-3x    ANNOYING SEARCH ICON
              
              img.img-responsive(src='images/otherSites/MWwordcentral.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='https://www.funbrain.com/brain/ReadingBrain/ReadingBrain.html', data-toggle='modal')
              // .caption
              //   .caption-content
              //     i.fa.fa-search-plus.fa-3x    ANNOYING SEARCH ICON
              
              img.img-responsive(src='images/otherSites/funbrain.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://www.nwf.org/Kids/Games/Word-Finds/Giraffe-Word-Find.aspx', data-toggle='modal')
              // .caption
              //   .caption-content
              //     i.fa.fa-search-plus.fa-3x    ANNOYING SEARCH ICON
              
              img.img-responsive(src='images/otherSites/NWF+.png', alt='')
