extends layout

block content

  head
    
    title Overbooked
      
  body
    // Navigation
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu 
            i.fa.fa-bars
          a.navbar-brand(href='/') Overbooked
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='/')
            li.page-scroll
              a(href='/#games') Games
            li.page-scroll
              a(href='/#about') About
            li.page-scroll
              a(href='/#contact') Contact
            li.resource
              a(href='/resources') Resources
            li.login
              a(href= "/login") Log In
      
    header
      .container
        .row
          .col-lg-12
            .intro-text
              span.name Resources
              hr.star-light
              p
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://pbskids.org/games/reading/' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/pbs-kids-logo.svg', alt='')
              
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://abcya.com/' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/ABCya.png', alt='')
              
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://seussville.com/' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='/images/resources/Suess.png', alt='')
              
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://wordcentral.com/games.html' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/MWwordcentral.png', alt='')
              
          .col-sm-4.portfolio-item
            a.portfolio-link(href='https://funbrain.com/brain/ReadingBrain/ReadingBrain.html' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/funbrain.png', alt='')
              
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://nwf.org/Kids/Games/Word-Finds/Giraffe-Word-Find.aspx' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/NWF+.png', alt='')

          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://reading.ecb.org/student/entry.html' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/intoTheBook.gif', alt='')
              
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://readingrockets.org/helping' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/readingrockets.png', alt='')

          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://vocabulary.co.il/english-language-games/' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/vocabani_logo.gif', alt='')
              
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://scholastic.com/wordgirl/synonym_toast.htm' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/scholastic-logo.png', alt='')
            
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://scholastic.com/parents/books-and-reading' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/ScholasticParents.png', alt='')
        
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://web2.uvcs.uvic.ca/elc/studyzone/330/reading/index.htm' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/UniVictoria.gif', alt='')
              
          .col-sm-4.portfolio-item
            a.portfolio-link(href='http://storylineonline.net/' target='_blank')
              .caption
                .caption-content
                  i.fa.fa-3x
              img.img-responsive(src='images/resources/Storyline.png', alt='')